<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AdminStrap</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Dashboard</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="posts.html">Posts</a></li>
                <li><a href="users.html">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome, Brad</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Manage Your
                        Site</small>
                </h1>
            </div>
            <div class="col-md-2">
                <div class="dropdown create">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Create Content
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/products/add">Add Product</a></li>
                        <li><a href="#">Add Post</a></li>
                        <li><a href="#">Add User</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
</section>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/" class="list-group-item active main-color-bg">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                    </a>
                    <a href="/products" class="list-group-item"><span class="glyphicon glyphicon-list-alt"
                            aria-hidden="true"></span> Products <span class="badge">12</span></a>
                    <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil"
                            aria-hidden="true"></span> Posts <span class="badge">33</span></a>
                    <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user"
                            aria-hidden="true"></span>
                        Users <span class="badge">203</span></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Add Account</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" onsubmit="return preSignUp()">
                            <label class="success">{{message}}</label>
                            <div class="form-group">
                                <label>Display Name</label>
                                <input type="text" class="form-control" id="displayname" name="displayname" placeholder="Display Name"
                                    required value={{displayname}}>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                                    onchange="checkExistUsername(this.value)" required  value={{username}}>
                                    <div id="username-info"></div>
                            </div>
                            <div class="form-group">
                                 <label class="form-check-label" >Type</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="type"
                                            id="usertype" value="user" >
                                        <label class="form-check-label" for="usertype">
                                            User
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="type"
                                            id="admintype" value="admin">
                                        <label class="form-check-label" for="admintype">
                                            Admin
                                        </label>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                     onchange="checkExistEmail(this.value)" value={{email}}>
                                    <div id="email-info"></div>
                            </div>


                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder=""  required>
                            </div>
                            <div class="form-group">
                                <label>Retype Password</label>
                                <input type="password" class="form-control" id="retypepassword" name="retypepassword" placeholder="" required >
                            </div>
                            <div class="error" id="notif" style="margin-bottom: 5px;"></div>
                            <input type="submit" class="btn btn-default" value="Submit" >
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<footer id="footer">
    <p>Copyright AdminStrap, &copy; 2017</p>
</footer>

<!-- Add Page -->
<div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Page</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Page Title</label>
                        <input type="text" class="form-control" placeholder="Page Title">
                    </div>
                    <div class="form-group">
                        <label>Page Body</label>
                        <textarea name="editor1" class="form-control" placeholder="Page Body"></textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Published
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Meta Tags</label>
                        <input type="text" class="form-control" placeholder="Add Some Tags...">
                    </div>
                    <div class="form-group">
                        <label>Meta Description</label>
                        <input type="text" class="form-control" placeholder="Add Meta Description...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>